<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>반복문 처리 예제</h2>
    <ul>
        <li th:each="dto : ${list}">
            [[${dto}]]
        </li>
    </ul>

    <h2>반복문의 상태 객체</h2>
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] --- [[${dto}]]
        </li>
    </ul>

    <h2>제어문 처리</h2>
    <ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
    </ul>
    <br>
    <ul>
        <li th:each="dto, state : ${list}">
            <span th:if="${dto.sno % 5 == 0}" th:text="${'--------------------' +dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>
    </ul>
    <br>
    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0 }? ${dto.sno}"></li>
    </ul>
    <br>
    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0 }? ${dto.sno}: ${dto.first}"></li>
    </ul>
    <br>
    <style>
        .target {
            background-color: red;
        }
    </style>

    <ul>
        <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0}?'target'" th:text="${dto}"></li>
    </ul>
    <br>
    <h2>th:block</h2>
    <ul>
        <th:block th:each="dto: ${list}">
            <li th:text="${dto.sno % 5 == 0}?${dto.sno}:${dto.first}"></li>
        </th:block>
    </ul>

    <ul>
        <li th:each="dto : ${list}">
            [[${#numbers.formatInteger(dto.sno,5)}]]
        </li>
    </ul>
</body>
</html>